{% extends 'base.html' %}

{% block title %}
{{ form.instance.pk|yesno:"Vazifani tahrirlash, Vazifa qo'shish" }}
{% endblock %}

{% block body_class %}
d-flex align-items-center justify-content-center min-vh-100 py-5
{% endblock %}

{% block main %}
<div class="card task-form-card shadow-lg rounded-4 w-100" style="max-width: 500px; padding: 2rem;">
    <h1 class="text-center mb-4">
    {% if form.instance.pk %}
    <i class="fa-solid fa-pen fa-xs"></i> Vazifani tahrirlash</h1>
    {% else %}
    <i class="fa-solid fa-plus"></i> Yangi vazifa qo'shish</h1>
    {% endif %}

    <form method="POST" class="d-flex flex-column gap-3">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
            <p class="mb-0">{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {% for field in form %}
        <div>
            <label id="{{ field.id_for_label }}" class="form-label fw-medium">{{ field.label }}</label>
            {{ field }}

            {% if field.errors %}
            {% for error in field.errors %}
            <p class="field-error">{{ error }}</p>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}

        <!-- Tugmalar ustma-ust -->
        <div class="d-flex flex-column gap-2 mt-2">
            <button type="submit"
                    class="btn btn-success btn-custom d-flex align-items-center justify-content-center gap-2 rounded-md">
                {% if form.instance.pk %}
                <i class="fas fa-pen"></i> Tahrirlash
                {% else %}
                <i class="fa-solid fa-plus"></i> Qo'shish
                {% endif %}
            </button>
            <a href="{% if form.instance.pk %} {% url 'detail' form.instance.pk %} {% else %} {% url 'home' %} {% endif %}"
               class="btn btn-danger btn-custom d-flex align-items-center justify-content-center gap-2 rounded-md">
                <i class="fas fa-ban"></i> Bekor qilish
            </a>
        </div>
    </form>
</div>
{% endblock %}